body {
    background: #F6F6F7;
}

/* news card */

.news-author-img {
    width: 38px;
    height: 38px;
}

@media only screen and (max-width: 575px) {
    #all-news-in-a-category {
        max-width: 400px;
    }
}

@media screen and (max-width: 767px) {
    .read-more-btn {
        width: 100%;
    }

    .news-card .thumbnail {
        object-fit: cover;
        height: 350px !important;
        object-position: 0% 0%;
    }
}